@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS-sans";
    src: url('https://static.xwzkj.top/fonts/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
    font-weight: 100; /* Thin */
    font-display: swap;
}
